@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 21, 18, 39;
    --background-end-rgb: 54, 30, 46;
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #acacac;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #acacac;
  }
}

body {
  color: #000;
  background: #fff
}

.next-logo {
  &::after {
    background: radial-gradient(50% 50% at 50% 50%, #F73693 0%, rgba(21, 18, 39, 0) 100%);
  }
}

canvas {
  height: 100%;
}
